<div id="about-text">
<br>
<br>
<br>
<h1 id= >About</h1>
<br>
<p >
I’m free in my wilderness. I’m a wanderess, a drop of free water. I’m whiskey in a teacup. I belong to no man and no city.
<br>
<br>
I live the poetry I cannot write. I write the poetry I cannot live.
<br>
<br>
Here, I am, filling the paper with the breathings of my heart.
<br>
<br>
Even if all I have is fiction, which may be the truth inside the lie.
<br>
<br>
See, writers aren’t exactly people. They are a whole bunch of people trying to be one person.
<br>
<br>
They say, a non-writing writer is a monster courting insanity.
<br>
<br>
But then, I am a writing writer, still courting insanity. Inked Insanity.
<br>
<br>
And we don’t embrace insanity here. We feel it up, french kiss it and then buy it a drink.
<br>
<br>
Because, insanity has no end.
<br>
Neither does ink.
<br>
<br>
<br>
<br>
<br>
This is my blog about, well, life and other stuff!
</div>
<br>
<br>
<br>
<br>
<h3>Share this</h3>
<br>
<hr>
<br>
<%= link_to image_tag('facebook_button.png'), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>
<%= link_to image_tag('twitter_button.png'), "http://twitter.com/home?status=inkedinsanity blog"%>
<%= link_to image_tag('google_button.jpg'),  "https://plus.google.com/share?url=https%3A%2F%2Flocalhost:3000%2Fabout%2F"%>
<br>
<br>
<br>
<br>
