// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#about-text{
  font-family: verdana, arial, helvetica, sans-serif;
  width: 95%;
  margin:auto;

}
#about-text h1{
  height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid   	#B0B0B0;
}
